.hangman-container {
  display: inline-block;
	position: relative;
	vertical-align: middle;
  width: 100vw;
  height: auto;
	overflow: hidden;
}

svg.svg-content {
  height: auto;
  max-height: 300px;
}
